.card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
        height: 150px;
        border-radius: 4px;
    }
    p {
        position: absolute;
        background-color: #fff;
        color: #3a99ac;
        opacity: 0.25;
        width: 160px;
        padding: 8px 0;
        box-sizing: border-box;
    }
    &:hover {
        cursor: pointer;
        p {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 950px) {
    .card {
        margin: 0 6px 12px 0;
        /* width: 175px; */
    }
}