.Home {
  text-align: center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.HomeLogo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 36px;
}

@media (prefers-reduced-motion: no-preference) {
  .HomeLogo {
    animation: HomeLogo-spin infinite 10s linear;
  }
}
@keyframes HomeLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
