.SpinnerMain {
  grid-column: 3;
}
.Spinner {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Spinner {
        animation: Spinner-spin infinite 10s linear;
    }
}
@keyframes Spinner-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}