.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 48px 0;
    p {
        margin: 0 18px;
    }
    button {
        text-transform: uppercase;
        padding: 4px 18px;
        background-color: #3a99ac;
        border: 1px solid #3a99ac;
        box-shadow: 0 2px 10px 0 rgb(46 108 153 / 20%);
        color: #fff;
        appearance: none;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            background-color: #3a99acb0;
            border-color: #3a99acb0;
        }
        &:focus {
            outline: none;
        }
        &:disabled {
            background-color: #c0d3e0;
            border-color: #c0d3e0;
            box-shadow: none;
            cursor: not-allowed
        }
    }
}